body {
  margin: 0;
  font-family: apple sd gothic neo, Apple SD Gothid Neo, 'apple sd gothic neo', 'Apple SD Gothid Neo', NotoSans, NotoSans, notosans, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}